OPENAI_API_KEY=
SATYA_VACHAN_DEMO_MODE=true
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_TRACING_ENVIRONMENT=development
LANGFUSE_TRACING_RELEASE=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
